*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    height: 10%;
}

nav .left{
    display: flex;
    flex: 50%;
    padding: 10px;
    padding-left: 90px;
    align-items: center;
}

nav .left li{
    display: inline;
}

nav .left ul li a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
nav .left ul li a:hover{
    outline: orangered solid 1px;
    color: orangered;
    padding: 10px;
    border-radius: 10px;

}
nav .right{
    flex: 50%;
    padding: 10px;
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .right a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
}
nav .right a:hover{
    background-color: unset;
    outline: orangered solid 1px;
    color: orangered;
}
nav .right a:active{
    background-color: orange;
    color: white;
    outline: unset;
}
nav ul li a.list-active {
    color: #ec4d37;
    font-weight: 700;
  }
/* End of Navbar */

/*  profile  */
table{
    margin: 10px 0px 15px 0px;
}
table tr th{
    background-color: grey;   
}
table tr td{
    color: grey;
}

.badges{
    padding: 5px;
    background-color: orangered;
    color: white;
    border-radius: 0px 10px 0px 10px;
}

/* end of profile */
.container{
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container p{
    color: grey;
}

.container .section{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.section .left{
    flex: 30%;
    padding-top: 20px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.section .right{
    flex: 70%;
    /* padding-left: 30px; */
    padding-top: 20px;
}
.section .right .sosmed img {
    height: 40px;
    width: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100px;
}
.section .right .sosmed img:hover{
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 10px black;
}

.section .right .skill-container{
    display: flex;
}
.section .right .skill-container .satu, .dua, .tiga{
    flex: 1;
    /* padding: 5px; */
}
.section .right .skill-container div img{
    width: 60px;
    height: 60px;
}

